// Varibales

$black: #2d3032;
$white: #d2d3d3;
$purple: #9615db;
$light-grey: #7d7f80;
$dark-grey: #555759;

// Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  background-color: $black;
  overflow-x: hidden;
}

h2 {
  font-size: 2.8rem;
  color: $white;
}

h3 {
  font-size: 2.2rem;
  color: $white;
}

h4 {
  font-size: 1.8rem;
  color: $purple;
}

h5 {
  font-size: 20px;
}

.s1 {
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40vh;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: $black;
}

p {
  font-size: 16px;
  color: $light-grey;
}

i {
  font-size: 30px;
  color: white;
}
/*    NAV    */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: $black;
  padding: 0 5%;
}

.logo {
  color: $purple;
  font-size: 22px;
  font-size: 28px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
}

.nav-links li {
  list-style: none;
  color: $purple;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: $purple;
  transition: all 0.3s ease;
}

/*     Hero     */

.hero-hello {
  padding: 20px 0px;
  color: $purple;
  font-family: "Inconsolata", sans-serif;
}

.hero-fullname {
  padding-bottom: 10px;
  color: $white;
}

.hero-description {
  color: $light-grey;
}

.hero-paragraph {
  padding: 20px 0px 40px 0px;
  color: $light-grey;
  max-width: 600px;
}
.button {
  color: $purple;
  background-color: $black;
  height: 55px;
  width: 185px;
  border: solid;
  border-color: $purple;
  font-size: 16px;
}
.button:hover {
  background-color: #7511ab;
}

/*  About Section  */
.about-content {
  padding-bottom: 60px;
}
.about-heading {
  padding-bottom: 40px;
}
.socials {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;

  .icons {
    height: 40px;
    width: auto;
    color: white;
  }
}
.about-img-container {
  object-fit: cover;
}
.about-img {
  max-width: 100%;
  max-height: 100%;
}
/*  Projects Section  */

.benefit-header {
  text-align: center;
  padding-bottom: 40px;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(200px);
  padding: 20px;
  grid-gap: 20px;
}

.grid-item {
  border-width: 1px;
  border-style: solid;
  border-color: $dark-grey;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
  transition: 0.2s;
}

.card {
  padding: 5%;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.card-header {
  padding: 10px 0px;
}

.card-text {
  padding-bottom: 10px;
}

/*  About Section  */

/* Projects section  */

/* Contact section */

.contact-header {
  text-align: center;
  padding: 20px;
}
.contact-text {
  text-align: center;
  padding: 0px 40px 60px 40px;
  color: $purple;
}
#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

.input-field {
  width: 100%;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: $dark-grey;
}

#contact-form label {
  line-height: 2.7em;
}
#contact-form textarea {
  min-height: 100px;
}

#submit-button {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $purple;
  border: 1px;
  border-radius: 5px;
  background-color: $black;
  border: solid;
  border-color: $purple;
  font-size: 16px;
}
#submit-button:hover {
  background-color: #7511ab;
}

/* Footer */

.footer {
  height: 50vh;
}
// Media Queries

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 98vh;
    top: 8vh;
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

// Media Querie - 1024PX
@media screen and (max-width: 1024px) {
  .main-container {
    width: 95%;
  }
}
